/*** GLOBAL VARIABLE SETUP ***/
* {
    box-sizing: border-box;
}

:root {
  --main-color: #000000;
  --link-hover: #8b292c;
  --background: #000000;
}

/*** GENERAL CSS ***/

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    background: url(../images/berries.jpg) no-repeat top center;
    background-size: cover;
}

.column {
    text-align: center;
}

/*** LINK CSS ***/
a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: var(--link-hover);
}

.nav a {
    transition: all .5s;
}

.nav a:hover {
    color: var(--link-hover);
}

a.social {
    display: inline-block;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}

a.twitter {
  background-image: url(../images/TLogo.png);
}

a.facebook {
  background-image: url(../images/FBLogo.png);
}

a.insta {
  background-image: url(../images/InstaLogo.png);
}

a.social:hover {
  opacity: 1;
}

iframe {
  width: 100%
}

/*** NAVIGATION CSS ***/
.main-nav {
    width: 100%;
    background: white;
    min-height: 30px;
    padding: 0;
    position: fixed;
    z-index: 20;
    text-align: center;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: 750;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

/*** HEADER CSS ***/
header {
    text-align: center;
    background: url('../images/bapu_teahouse.png') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    line-height: 1.25;
    border-bottom: 3px solid white;
}

header .profile-image {
    margin-top: 40px;
    height: 200px;
    width: 200px;
    padding: 0;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
}

header .profile-image:hover {
 transform: scale(1.2) rotate(360deg);
}

.tag {
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
}

.title {
    background-color: #FFF;
}

.information {
    background-color: var(--link-hover);
    color: #fff;
    margin-bottom: 20px;
    border: 2px solid white;
}

/*** CARD CSS ***/
.card {
    margin: 20px 425px;
    padding: 20px 40px;
    display: inline-block;
    width: 80%;
    max-height: 10000px;
    max-width: 80%;
    min-width: 40%;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
}

.card:hover {
  border-color: black;
  transform: scale(1.05);
}

ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    border-radius: 6px;
    display: inline-block;
    background-color: var(--main-color);
    color: white;
    padding: 5px 10px;
    margin: 2px;
}

.skills li:nth-child(odd) {
    border: 1px solid var(--main-color);
    background-color: white;
    color: var(--main-color);
}

/*** FOOTER CSS ***/
footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 20px 30px 20px;
}

footer .copyright {
    color: black;
    top: -8px;
    size: .75em;
    color: white;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 5px 0 0;
}

/*** COMPUTER (>=720px) CSS ***/
@media (min-width: 720px) {

    .flex {
        flex-direction: row;
        display: inline-flex;
        min-width: 100%;
        max-width: 1200px;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
        margin: 40px auto;
        flex-wrap: wrap;
        height: auto;
    }

    .form-style-2{
    	max-width: 500px;
    	padding: 20px 12px 10px 20px;
    	font: 13px Arial, Helvetica, sans-serif;
    }

    .form-style-2-heading {
    	font-weight: bold;
    	font-style: italic;
    	border-bottom: 2px solid #ddd;
    	margin-bottom: 20px;
    	font-size: 15px;
    	padding-bottom: 3px;
    }

    .form-style-2 label {
    	display: block;
    	margin: 0px 0px 15px 0px;
    }

    .form-style-2 label > span {
    	width: 100px;
    	font-weight: bold;
    	float: left;
    	padding-top: 8px;
    	padding-right: 5px;
    }

    .form-style-2 span.required {
    	color:red;
    }

    .form-style-2 .tel-number-field {
    	width: 40px;
    	text-align: center;
    }

    .form-style-2 input.input-field, .form-style-2 .select-field {
    	width: 48%;
    }

    .form-style-2 input.input-field,
    .form-style-2 .tel-number-field,
    .form-style-2 .textarea-field,
     .form-style-2 .select-field {
    	box-sizing: border-box;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	border: 1px solid #C2C2C2;
    	box-shadow: 1px 1px 4px #EBEBEB;
    	-moz-box-shadow: 1px 1px 4px #EBEBEB;
    	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
    	border-radius: 3px;
    	-webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
    	padding: 7px;
    	outline: none;
    }
    .form-style-2 .input-field:focus,
    .form-style-2 .tel-number-field:focus,
    .form-style-2 .textarea-field:focus,
    .form-style-2 .select-field:focus {
    	border: 1px solid #0C0;
    }
    .form-style-2 .textarea-field{
    	height:100px;
    	width: 55%;
    }
    .form-style-2 input[type=submit],
    .form-style-2 input[type=button] {
    	border: none;
    	padding: 8px 15px 8px 15px;
    	background: var(--link-hover);
    	color: #fff;
    	box-shadow: 1px 1px 4px #DADADA;
    	-moz-box-shadow: 1px 1px 4px #DADADA;
    	-webkit-box-shadow: 1px 1px 4px #DADADA;
    	border-radius: 3px;
    	-webkit-border-radius: 3px;
    	-moz-border-radius: 3px;
    }
    .center{
      text-align: center;
    }
    .form-style-2 input[type=submit]:hover,
    .form-style-2 input[type=button]:hover {
    	background: black;
      transition: all .5s;
    	color: #fff;
    }

    .column {
        height: 100%;
        width: 50%;
    }

    header {
        min-height: 470px;
    }

    .nav {
        max-width: 100%;
        padding: 10px 100px;
    }

    main p {
        line-height: 1.6em;
    }

    footer {
        font-size: 1.3em;
        max-width: 1200px;
        margin: 10px auto;
    }

}

/*** PHONE (<720px) CSS ***/
@media (max-width: 720px) {

	.flex {
        flex-direction: column;
        display: inline-flex;
        min-width: 90%;
        max-width: 720px;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: center;
        margin: 40px auto;
        flex-wrap: wrap;
        height: auto;
    }

    .column {
        width: 100%;
    }

    .card {
        width: 80%;
    }

    h1 {
        font-size: 1em;
    }

    p {
        font-size: .75em;
    }

    li {
        font-size: .75em;
    }

    header .profile-image {
        height: 100px;
        width: 100px;
    }

    .nav {
        max-width: 1200px;
        padding: 10px 30px;
    }

    main p {
        line-height: 1.6em;
    }

    footer {
        font-size: 1.3em;
        max-width: 1200px;
        margin: 10px auto;
    }

}
